body {
  background-color: #ecf5f8;
  font-family: Arial, sans-serif;
}

.topic-section {
  color: #e88b74;
  font-size: 18px;
  padding: 10px;
  margin: 15px;
  border: 2px solid #e88b74;
}

#main-heading {
  color: #f6ad25;
}

a {
  color: #1ba9c3;
}

a:hover {
  opacity: 0.7;
}

a:visited {
  color: #c74753;
}